---
import Layout from '../layouts/Layout.astro';
import NavLayout from '../layouts/NavLayout.astro';
import Projects from './projects/projects.astro';
import Skills from './Skills/skills.astro';
import AboutMe from './AboutMe/AboutMe.astro';
import Footer from '../layouts/Footer.astro'
---

<Layout title="Camila Lo Nero">
	<body>
	<NavLayout/>
		<main>
				<div class="welcome">
					<h1 class="mainTitle">Solutions for <span class="text-gradient">your business</span></h1> 
					<p class="welcome"> Frontend & Backend for your business</p>
				</div>
				
				<div class="center">
					<h2>Full Stack Developer</h2>
					<h4>1 year of experience as Freelancer</h4>
					<p>13 Projects Completed Around the World</p>
					
	            </div>
			</div>
	
			
		</main>
 <div class="About Me box-content">
	<AboutMe/>
 </div>

	<div class="Skills box-content align-baseline">
		<Skills/>
	</div>
 <div class="project box-content">
	<Projects/>
 </div>
</body>

	
	<Footer />
</Layout>

<style>
	/* Set margin and padding to 0 for the entire page */
html, body {
  margin: 0;
  padding: 0;
}

/* Style the main title */
.mainTitle {
  font-size: 5rem;
  margin-bottom: 1rem;
}
.mainTitle:hover{
  color: burlywood;
}

/* Add gradient to the text inside the span tag */
.text-gradient {
  background: #357dc9;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.center{
	color:whitesmoke;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	padding: auto;
	margin: 20px;
}
/* Style the welcome section */
.welcome {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: whitesmoke;
	padding: 1rem;
	border-radius: 1rem;


}

/* Style the profile picture */
.amorfo {
 display: inline-block;
  border-radius: 5px 50%;
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}
.foto{
  padding: 20px;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}

/* Style the About Me, Skills, and Projects sections */
.box-content {
  margin-top: 4rem;
  padding: 2rem;
  margin: 25px;
  border: 1px solid #e0e0e0;
  border-radius: 1rem;
}

/* Style the About Me section */
.About.Me {
  background-color: #fffb;
}

/* Style the Skills section */
.Skills {
  background-color: #fffb;
}





	

</style>
