---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import Card from "../../components/Card.astro";
---

<Layout title="layout">
    <body>
        <main>
       <h1>Lastest Projects</h1>

       <div class="projects">
        
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <div class="grid gap-4">
            <div>
                <p>Profitable E-Commerce</p>
              <a href="https://github.com/lonerocamila/E-Commerce" target="_blank" rel="noopener noreferrer">  <img class="h-auto max-w-full rounded-lg" src="./public/img/eCommerce.png" alt=""> </a>
            </div>
            <div>
                <p>Server</p>
              <a href="http://" target="_blank" rel="noopener noreferrer"> <img class="h-auto max-w-full rounded-lg" src="./public/img/server.png" alt="Server"></a> 
            </div>
            <div>
               <a href="http://" target="_blank" rel="noopener noreferrer"> <img class="h-auto max-w-full rounded-lg" src="#" alt=""></a>
            </div>
        </div>
        <div class="grid gap-4">
            <div>
               <p>Business Finance App</p>
               <a href="http://" target="_blank" rel="noopener noreferrer"> <img class="h-auto max-w-full rounded-lg" src="./public/img/FinanceApp.png" alt="FinanceApp"></a>
            </div>
            <div>
                <p>To-do App</p>
               <a href="http://" target="_blank" rel="noopener noreferrer"> <img class="h-auto max-w-full rounded-lg" src="./public/img/todoapp.png" alt="toDo App"></a>	
            </div>
            <div>
                <p>Login Autentication App</p>
              <a href="http://" target="_blank" rel="noopener noreferrer">  <img class="h-auto max-w-full rounded-lg" src="./public/img/login.png" alt="login autentication app"></a>
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <p>404 error page</p>
              <a href="http://" target="_blank" rel="noopener noreferrer"> <img class="h-auto max-w-full rounded-lg" src="./public/img/404.png" alt="404 error page"></a> 
            </div>
         
       
    
        <div class="grid gap-4">
            <div>
                <p>Weather app</p>
             <a href="http://" target="_blank" rel="noopener noreferrer">   <img class="h-auto max-w-full rounded-lg" src="./public/img/weather.png" alt="Weather app"></a>
            </div>
        
        </div>
    </div>
 </div>
 </div>

      

        </main>


     <Footer/>
    </body>

</Layout>  
<style>
    
    main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
    h1{
        padding: 2rem;
        text-align: center;
    }
    .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
    .projects{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        font-weight: 700;
    }
</style>




